html, body {
    min-height: 100%;
    margin: 0;
    /*overflow: hidden;*/ /* Added to hide the unexplainable overflow from the image */
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.left-side {
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;

    color: black;

    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 5rem;
}

.signup-form {
    flex-grow: 3;
    background-color: rgb(232, 231, 241);
    height: fit-content;
    width: min-content;
    box-shadow: 0 5px black;
    padding: 10px;
}

.signup-form p {
    display: block;
}